name: sanitizers

on: push

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: ubuntu:24.04
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [ address, undefined ]
        compiler: [
            { cxx: clang++-15, pkgs: clang-15 },
            { cxx: clang++-16, pkgs: clang-16 },
            { cxx: clang++-17, pkgs: clang-17 },
            { cxx: clang++-18, pkgs: clang-18 },
            { cxx: clang++-19, pkgs: clang-19 },
            { cxx: g++-11, pkgs: g++-11 },
            { cxx: g++-12, pkgs: g++-12 },
            { cxx: g++-13, pkgs: g++-13 },
            { cxx: g++-14, pkgs: g++-14 }
        ]

    env:
      ASAN_OPTIONS: check_initialization_order=1:strict_init_order=1:detect_stack_use_after_return=1:detect_leaks=1:detect_invalid_pointer_pairs=2
      UBSAN_OPTIONS: print_stacktrace=1:print_summary=1

    defaults:
      run:
        working-directory: ${{ github.workspace }}/build


    name: ${{ matrix.compiler.cxx }} -fsanitize=${{ matrix.sanitizer }}

    steps:
    - name: checkout-repo
      uses: actions/checkout@v4

    - name: setup-compiler
      run: apt update && apt install --allow-downgrades -y git cmake ${{ matrix.compiler.pkgs }}

    - name: setup-catch
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: bash ../tools/install_catch.sh Release

    - name: setup-build
      run: cmake .. -DCMAKE_CXX_COMPILER=${{ matrix.compiler.cxx }} -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-fsanitize=${{ matrix.sanitizer }} -g -fno-omit-frame-pointer" -DSMP_BUILD_BENCHMARKS=OFF

    - name: build
      run: cmake --build .

    - name: run-tests
      run: ctest --output-on-failure --schedule-random
